* {
    transition: 0.5s;
}

body {
    font-family: "Fira Sans", "Open Sans", Helvetica, Arial, sans-serif;
    margin: 0;
    overflow-x: hidden;
}

button {
    box-sizing: content-box;
    border-radius: 0;
    border: 1px solid #1E3990;
    cursor: pointer;
    color: white;
    background-color: #1E3990;
    padding: 5px;
    margin-bottom: 5px;
}

button:hover, button:disabled {
    background-color: white;
    color: black;
}

.dangerous_button:hover, .dangerous_button:disabled {
    border: 1px solid red;
}

input::file-selector-button {
    transition: 0.5s;
    border-radius: 0;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #1E3990;
    padding: 5px;
    border-right: 1px solid black;
}

input::file-selector-button:hover {
    background-color: white;
    color: black;
}

input {
    border: 1px solid;
    border-radius: 0;
}

input[type="checkbox"] {
    height: 1lh;
    width: 1lh;
    cursor: pointer;
}

select {
    border-radius: 0;
    cursor: pointer;
    padding: 5px;
    border: 1px solid black;
}

label {
    padding: 3px;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h3 {
    font-weight: normal;
    text-decoration: underline;
}

.page {
    display: none;
    margin-top: 7em;
    padding: 1.5em;
}

#ToggleNav {
    font-size: 40px;
    cursor: pointer;
}

nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
}

nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #506bc2;
    display: block;
    cursor: pointer;
}

nav a:hover {
    color: white;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1E3990;
    display: flex;
    height: 5em;
    width: 100%;
    color: white;
    list-style: none;
    margin: 0;
    font-size: x-large;
    align-items: center;
    z-index: 1;
}

header li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    font-size: x-large;
}

table {
    width: 99%;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
}

tr {
    background-color: #f6f6f6;
}

tr:nth-child(odd) {
    background-color: lightgray;
}

tr:not(:first-child):hover {
    background-color: #949494;
}

tr:not(:first-child) {
    cursor: pointer;
}

.hidden td {
    display: none;
}

td, th {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0.5em 0.5em 0.5em 1em
}

th {
    font-size: large;
}

th .spacer {
    flex-grow: 1;
}

tr button {
    margin: 0 0 0 5px;
    width: 1.5lh;
    height: 1.5lh;
}

hr {
    margin: 25px auto;
}

dialog {
    box-sizing: content-box;
    padding: 0;
    border: 1px solid black;
}

dialog h2 {
    text-align: center;
}

dialog::backdrop {
    background-color: black;
    opacity: 0.8;
}

dialog.full-screen-dialog {
    text-align: center;
    min-width: 75vw;
    min-height: 75vh;
}

.dialog-content {
    display: flex;
    flex-direction: column;
}

.full-screen-dialog .dialog-content {
    min-height: 75vh;
}

.dialog-content div {
    width: fit-content;
    margin: 0 auto;
    text-align: left;
}

.dialog-content div label {
    float: left;
    clear: left;
}

dialog .spacer {
    flex-grow: 1;
}

dialog .bottom-buttons {
    text-align: center;
    padding: 1em 0;
    width: calc(100% - 2rem);
    box-sizing: content-box;
}

dialog .dialog-content {
    box-sizing: border-box;
    padding: 1rem;
    margin: 0;
    width: 100%;
}

.dialog-close-button {
    font-size: x-large;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    padding: 3px;
    cursor: pointer;
    width: 1lh;
    height: 1lh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.dialog-close-button:hover {
    background-color: lightcoral;
}

#confirm-dialog {
    text-align: center;
}

#confirm-dialog-btn1 {
    color: black;
    border-color: black;
    background-color: lightgreen;
}

#confirm-dialog-btn1:hover {
    background: none;
}

#confirm-dialog-btn2 {
    color: black;
    border-color: black;
    background-color: lightcoral;
}

#confirm-dialog-btn2:hover {
    background: none;
}

.datepicker {
    transition: 0.3s;
    margin-bottom: 100px;
}

#AnwesenheitInputDatum {
    border: none;
    font-size: medium;
    cursor: pointer;
    caret-color: transparent;
    text-decoration: underline;
    margin: 0 0 20px;
}

#AnwesenheitInputDatum:focus {
    outline: none;
}

#Anwesenheit hr {
    margin-bottom: 50px;
}

.floatingBottomButtons {
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
}

.floatingBottomButtons button {
    margin: 0 10px 0 0;
}

.anwesenheitGroupWithEdits {
    text-decoration: underline;
}