header a {
    text-decoration: none;
    color: white;
    position: absolute;
    right: 1vh;
    top: 1vh;
    margin: 5px;
    padding: 3px;
    cursor: pointer;
    width: 1lh;
    height: 1lh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

header a:hover {
    background-color: indianred;
}

section {
    padding: 20px;
    background-color: lightgray;
    border: 1px solid gray;
}

form label {
    margin-bottom: 25px;
    font-size: large;
    display: block;
}

form a {
    display: block;
    margin-bottom: 25px;
    font-size: small;
    color: black;
    text-decoration: underline;
}

form a .material-symbols-outlined {
    font-size: 1lh;
    text-decoration: underline black;
}

form input {
    margin-top: 5px;
    width: 15lh;
    height: 1.25lh;
}

form label input {
    display: block;
}

#LoginSpondLoginSectionLoginDaten {
    width: 15rlh;
}

#LoginSpondLoginSectionLoginDatenErrorMessage {
    color: red;
    width: 100%;
    text-align: center;
}