<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TTB: Login - Spond</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"/>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/login_spond.css">
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">
</head>
<body>
<header>
    <ul>
        <li><h1>TTB / Anmelden über Spond</h1></li>
        <li><a tabindex="1" href="/"><span class="material-symbols-outlined">close</span></a></li>
    </ul>
</header>
<main>
    <div class="formPage page" id="LoginSpondLogin">
        <section id="LoginSpondLoginSectionLoginDaten">
            <form onsubmit="loginSpondLoginSubmitSpondLoginForm(); return false" method="post">
                <label for="LoginSpondLoginSectionLoginDatenMail">
                    E-Mail-Adresse oder Mobilfunknummer
                    <input tabindex="2" type="text" name="E-Mail-Adresse oder Mobilfunknummer" id="LoginSpondLoginSectionLoginDatenMail">
                </label>
                <label for="LoginSpondLoginSectionLoginDatenPasswort">
                    Passwort
                    <input tabindex="3" type="password" name="Passwort" id="LoginSpondLoginSectionLoginDatenPasswort">
                </label>
                <a href="https://spond.com/landing/login/forgot-password" target="_blank"><span class="material-symbols-outlined">open_in_new</span> Passwort vergessen?</a>
                <button type="submit">anmelden</button>
                <p id="LoginSpondLoginSectionLoginDatenErrorMessage"></p>
            </form>
        </section>
    </div>
    <div class="page" id="LoginSpondAuswahlGruppe">
        <h2>Gruppe auswählen</h2>
        <table id="LoginSpondAuswahlGruppeTableGruppen"></table>
        <div class="floatingBottomButtons">
            <button onclick="page('LoginSpondLogin')">abbrechen</button>
            <button onclick="page('LoginSpondImportFinalize')">weiter</button>
        </div>
    </div>
    <dialog class="full-screen-dialog" id="LoginSpondAuswahlGruppeDialogInfoGruppe">
        <h2 id="LoginSpondAuswahlGruppeDialogInfoGruppeTitel">Gruppe: Unbenannte Gruppe</h2>
        <img id="LoginSpondAuswahlGruppeDialogInfoGruppeBild" src="../static/images/spond-default-group-image.png" alt="Titelbild von Unbenannte Gruppe">
        <p>Aktivität: <span id="LoginSpondAuswahlGruppeDialogInfoGruppeActivity">-</span></p>
        <p>Beschreibung: <span id="LoginSpondAuswahlGruppeDialogInfoGruppeDescription">-</span></p>
        <p>Mitglieder: <span id="LoginSpondAuswahlGruppeDialogInfoGruppeMemberCount">0</span></p>
        <p>Untergruppen: <span id="LoginSpondAuswahlGruppeDialogInfoGruppeSubGroupCount">0</span></p>
        <p>Rollen: <span id="LoginSpondAuswahlGruppeDialogInfoGruppeInfoRoleCount">0</span></p>
        <div class="spacer"></div>
        <div class="bottom-buttons">
            <button id="LoginSpondAuswahlGruppeDialogInfoGruppeSchließen">schließen</button>
        </div>
    </dialog>
    <div class="page" id="LoginSpondImportFinalize">
        <h2>Datenimport abschließen</h2>
        <p>Beim Fortfahren werden alle bestehenden Daten überschrieben. Dies kann nicht rückgängig gemacht werden.</p>
        <p>Soll der Datenimport dennoch abgeschlossen werden?</p>
        <div class="floatingBottomButtons">
            <button onclick="page('LoginSpondAuswahlGruppe')">zurück</button>
            <button onclick="">abschließen</button>
        </div>
    </div>
</main>
<script src="../static/login_spond.js"></script>
<script src="../static/main.js"></script>
</body>
</html>